.hamburger{
	float: right;
}
.dropdown{
	color: rgba(255,255,255,.5);
	background-color: transparent;
	border-color: transparent;

}
.dropdown : hover{	
	color: rgba(255,255,255,.75);
}
.navBrand {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}
.searchDiv{
	width: 70%;
}
.searchIcon {
	width: 150%;
	height: 150%;
}