  #root{
    overflow: hidden;
    z-index: 1;
  }
  #modal-root {
    position: relative;
    z-index: 999;
  }
  .modal-close {
    position: absolute;
    right: 6px;
    top: 9px;
    cursor: pointer;
    border: none;
    font-size: 20px;
   }
   .modalChild {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: inline-grid;
    align-items: center;
    justify-content: center;
  }
  .modalComponent{
    width: 300px;
    
    background-color: white;
  }
  
  